

<div class="card">
  <div class="card-body scroll ">
    <small style="color: red;" *ngIf="expenseActions.length === 0"><i class="fa fa-spinner fa-spin"></i>  Fetching</small>
    <div *ngFor="let expenseAction of expenseActions">
      <small style="color: green;" *ngIf="expenseAction.method === 'CREATE'">[ {{expenseAction.datetime}} ] {{expenseAction.pushMsg}}</small>
      <small style="color: royalblue;" *ngIf="expenseAction.method === 'UPDATE'">[ {{expenseAction.datetime}} ] {{expenseAction.pushMsg}}</small>
      <small style="color: red;" *ngIf="expenseAction.method === 'DELETE'">[ {{expenseAction.datetime}} ] {{expenseAction.pushMsg}}</small>
    </div>
  </div>  
<h3 class="card-header text-center font-weight-bold text-uppercase py-4">MANAGE EXPENSES</h3>
<div class="card-body">
<div id="table" class="table-editable">
  <span class="row float-left mb-3 mr-2">
    <div class="form-group">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             [(bsValue)]="dateRange"
             [dateCustomClasses]="dateCustomClasses"
             (bsValueChange)="onValueChange($event)"
             [bsConfig]="{ containerClass: 'theme-red' }"
             bsDaterangepicker>
    </div>
      
<div class="form-group mb-3 ml-2">
  <select class="form-control"   [(ngModel)]="deptQueryId">
    <option *ngFor="let item of deptList" [ngValue]="item.id">{{item.name}}
    </option>
  </select>
</div>
<div class="form-group mb-3 ml-2">
  <a class="indigo-text">
  <i class=" text-success fa fa-eraser ml-3 mb-3 " aria-hidden="true" (click)="clear()"></i> 
  <i class="text-success fa fa-search ml-2 mb-3" aria-hidden="true" (click)="search()"></i>
</a>
</div>
  </span>


  <span class="table-add float-right mb-3 mr-2">
    <a class="text-success" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </span> 
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Category</th>
      <th class="text-center">Department</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Created At</th>
      <th class="text-center">Created By</th>
      <th class="text-center">STATUS</th>
      <th class="text-center">Actions</th>
    </tr>
    <tr *ngFor="let expense of expenseList; let i = index">
      <td>
        <select class="form-control"  [(ngModel)]="expense.category_id">
          <option *ngFor="let item of categoryList" [ngValue]="item.id">{{item.name}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control"  [(ngModel)]="expense.dept_id">
          <option *ngFor="let item of deptList" [ngValue]="item.id">{{item.name}}
          </option>
        </select>
      </td>
      <td>
        <input type="text" class="form-control" name="expense_amount" [(ngModel)]="expense.amount" >
      </td>
      <td>
        <span contenteditable="false">{{expense.created_at | date}}</span>
      </td>
      <td>
        <span contenteditable="false">{{expense.first_name }}</span>
      </td>                      
      <td>
        <span *ngIf="!isAccountant" contenteditable="false">{{expense.status}}</span>
        <select *ngIf="isAccountant" class="form-control" [(ngModel)]="expense.status">
          <option>PENDING</option>
          <option>APPROVED</option>
          <option>REJECTED</option>
        </select>
      </td>
      <td *ngIf="!expense.is_create">
        <span class="table-up">
          <a class="indigo-text">
            <i *ngIf="expense.status != 'APPROVED' || isAccountant" class="fa fa-save" (click)="updateExpense(i, expense)" aria-hidden="true"></i>
          </a>
        </span>
        <span class="table-down">
          <a class="indigo-text">
            <i *ngIf="expense.status != 'APPROVED' || isAccountant" class="fa fa-times ml-3" (click)="openConfirmationDialog(i, expense)" aria-hidden="true"></i>
          </a>
        </span>
        <span *ngIf="isAccountant" class="table-down">
          <a class="indigo-text">
            <i class="fa fa-file-text-o ml-3" (click)="openConfirmationDialog(i, expense, 'approval')" aria-hidden="true"></i>
          </a>
        </span>
      </td>
      <td *ngIf="expense.is_create">
        <span class="table-up">
          <a class="indigo-text">
            <i class="fa fa-save" aria-hidden="true" (click)="saveExpense(expense, i)"></i>
          </a>
        </span>
        <span class="table-down">
          <a class="indigo-text">
            <i class="fa fa-times ml-3" (click)="expenseList.splice(i, 1)" aria-hidden="true"></i>
          </a>
        </span>
      </td>
    </tr>
  </table>
</div>
</div>
</div>
<!-- Editable table -->


