@media all and (min-width: 768px) {
    tr td {
        vertical-align: middle !important;
   }
    tr span:not([class]) {
        padding: 1rem 1rem;
   }
}

.scroll {
    max-height: 50px;
    overflow-y: auto;
}