
             <div class="card">
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Manage roles</h3>
              <div class="card-body">
                <div id="table" class="table-editable">
                  <span class="table-add float-right mb-3 mr-2">
                    <a class="text-success" (click)="add()">
                      <i class="fa fa-plus"></i>
                    </a>
                  </span> 
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                      <th class="text-center">Role Name</th>
                      <th class="text-center">Created At</th>
                      <th class="text-center">Created By</th>
                      <th class="text-center">Actions</th>
                    </tr>
                    <tr *ngFor="let role of roleList; let i = index">
                      <td>
                        <input type="text" class="form-control" name="role_name" [(ngModel)]="role.name" >
                      </td>
                      <td>
                        <span contenteditable="false">{{role.created_at | date}}</span>
                      </td>
                      <td>
                        <span  contenteditable="false">{{role.first_name}}</span>
                      </td>                      
                      <td *ngIf="!role.is_create">
                        <span class="table-up">
                          <a class="indigo-text">
                            <i class="fa fa-save" (click)="updateRole(i, role)" aria-hidden="true"></i>
                          </a>
                        </span>
                        <span class="table-down">
                          <a class="indigo-text">
                            <i class="fa fa-times ml-3" (click)="openConfirmationDialog(i, role)" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                      <td *ngIf="role.is_create">
                        <span class="table-up">
                          <a class="indigo-text">
                            <i class="fa fa-save" aria-hidden="true" (click)="saveRole(role, i)"></i>
                          </a>
                        </span>
                        <span class="table-down">
                          <a class="indigo-text">
                            <i class="fa fa-times ml-3" (click)="roleList.splice(i, 1)" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- Editable table -->
    
            
        